<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Matador de Monstro</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="panel scores">
            <div class="score">
                <h1>Jogador</h1>
                <div class="life-bar">
                    <div class="life">
                    </div>
               {{playerLife}} </div>
                <div></div>
            </div>
            <div class="score">
                <h1>Monstro</h1>
                <div class="life-bar">
                    <div class="life"></div> {{monsterLife}} </div>
                <div></div>
            </div>
        </div>
        <div class="panel result">
            <div class="win" v-if="monsterLife <= minPlayerLife">Você ganhou!!! :)</div>
            <div class="lose" v-if="playerLife <= minPlayerLife">Você perdeu! :(</div>
        </div>
        <div class="panel buttons">
            <template v-if="start">
                <button  v-show="playerLife > minPlayerLife && monsterLife > minPlayerLife" @click="attack" class="btn attack">Ataque</button>
                <button v-show="playerLife > minPlayerLife && monsterLife > minPlayerLife" @click="specialAtack" class="btn especial-attack"  >Ataque Especial</button>
                <button v-show="playerLife > minPlayerLife && monsterLife > minPlayerLife" @click="heal" class="btn heal" >Curar</button>
                <button class="btn give-up" >Desistir</button>
            </template>
            <button @click='start = !start'class="btn new-game" v-if="!start">Iniciar Jogo</button>
        </div>
        <div class="panel logs">
            <ul v-for="attaque in attack">
                <li>
                    {{attack}}
                </li>
            </ul>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>