<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>
        .estilo{
            background-color: red;
        }
   
        ul{
            list-style: none;
            display: flex;
            justify-content: space-around;
        }
        li{
            text-align: center;
            width: 200px;
            
            height: 200px;
           
        }
        .vermelho{ background-color: red ;}
        .verde{ background-color:green ;}
        .azul{ background-color: blue ;}
        .amarelo{ background-color: yellow;}
    </style>
</head>
<body>
    <div id="app">
        <template v-for="(cor, index) in cores" >
          <h1 :class='cor'>{{ cor }}</h1>
          <p>{{ index }}</p>
        </template>
        <hr>
         <ul>
            <li v-for="pessoa in pessoas">
                
           <p v-for="(valor, chave, index) in pessoa">
            {{ chave }} : {{ valor }} <br>  
           </p>
            </li>
         </ul>
         <hr>
         <br>
         <p v-for="n in 20">{{ n }}</p>
    </div>
    
    <script>
        new Vue({
            el: '#app',
            data:{
         cores:['vermelho', 'verde', 'azul', 'amarelo'],
         pessoas:[
            {nome:'Wellington', idade: 20, peso: 70},
            {nome:'Rafael', idade: 26, peso: 55},
            {nome: 'Mariana', idade: 45, peso: 68}
         ]
            }
        })
    </script>
</body>
</html>